body, html, #root, .parent {
  width: 100%;
  height: 100%;
}

body {
  background: rgba(242, 137, 48, 0.9);
}

/* Three ways to do it: absolute position, flexbox, grid */
.parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quote-container {
  background: #4d1782;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.8);
  padding: 0;
}

/* .container {
  position: absolute;
  background-color: green;
  min-height: 40%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* flex basis only can be used for flex items */
.align-box {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 26px 10px 26px;
  padding: 16px;
}

// below 768px or tablet width
@media (min-width: 0px) and (max-width: 768px){
  .align-box {
    margin: 0;
    padding: 14px 18px 14px 18px;
  }

  .quote-container {
    width: 100%;
  }

  .text {
    font-size: 16px !important;
  }

  .title {
    width: 200px;
    margin: 7% 0 10% 0 !important;
  }
}

// above 768px or tablet width
@media (min-width: 768px) and (max-width: 1023px){
  .align-box {
    margin: 10px 26px 10px 26px;
    padding: 16px;
  }

  .quote-container {
    margin-bottom: 28%;
    width: 80%;
  }

  .text {
    font-size: 18px !important;
  }
}

// above 1024px or laptop width
@media (min-width: 1023px){
  .align-box {
    margin: 10px 26px 10px 26px;
    padding: 16px;
  }

  .quote-container {
    margin-bottom: 17%;
    width: 65%;
  }
}

@media (min-width: 1240px){
  .align-box {
    margin: 10px 26px 10px 26px;
    padding: 16px;
  }

  .quote-container {
    width: 55%;
  }
}

@media (min-width: 1440px){
  .quote-container {
    width: 50%;
  }

  .title {
      margin: 6% 0 4% 0 !important;
  }
}

.text {
  color: white;
  font-family: Times New Roman, Georgia, serif;
  font-size: 20px;
}

.quote {
  order: 1;
  align-self: flex-start;
}

.author {
  order: 2;
  align-self: flex-start;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 8% 0 4% 0;
}

.btn-quote {
  order: 3;
  align-self: flex-end;
  color: white;
  background: #4d1782;
  border-radius: 5px;
}

.icon {
  order: 4;
  align-self: flex-start;
  font-size: 40px;
  cursor: pointer;
  color: #1DA1F2;
}
